// Early Bird Header
#earlyBirdHeader {
  background: #008e9b;
  .earlyBirdTwoElements {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #fff;

      font-size: 16px;

      font-weight: 700;

      text-transform: uppercase;
      margin: 9px 0px;
    }
  }
}

@media (max-width: 768px) {
  #earlyBirdHeader {
    .earlyBirdTextDesktop {
      display: none;
    }
  }
}
@media (min-width: 769px) {
  #earlyBirdHeader {
    .earlyBirdTextMobile {
      display: none;
    }
  }
}
// Successful careers Header
#successfulCareersHeader {
  background: #befbff;
  .twoElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #000;

      font-size: 18px;

      font-weight: 400;

      margin: 10px 0px;
    }
  }
}

@media (min-width: 769px) {
  #successfulCareersHeader {
    .twoElements {
      .phone {
        display: none;
      }
    }
  }
}
//
.backgroundForNavbarAndFirstBanner {
  position: relative;
}
.backgroundForNavbarAndFirstBanner ::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../images/firstBannerBackgroundDesktop.png) no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}
// Navbar
#navbar {
  padding-top: 60px;
  padding-bottom: 10px;
  .list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 10px 0px;
    li {
      list-style: none;

      p {
        color: var(--ink-08, #292929);

        font-size: 16px;

        font-weight: 500;
      }
    }
  }
}
@media (min-width: 768px) {
  #navbar {
    padding-top: 60px;
    .hamburgerMenu {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  #navbar {
    padding-top: 10px;
    margin: 0;
    .hamburgerMenu {
      display: block;
      text-align: right;
      margin-bottom: 10px;
    }
    .hamburgerMenu img {
      margin: 0 auto;
    }
    #myMenu {
      display: none;
    }
    #navbar {
      height: auto;
      .list {
        display: none;
      }
    }
    #myMenu.opened {
      display: block;

      text-align: right;
    }
  }
}
// firstBanner
#firstBanner {
  .hireMeMobile {
    background: rgba(0, 142, 155, 1);
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    p {
      margin: 0;
      color: var(--ink-01, #fff);

      font-size: 18px;

      font-weight: 600;

      text-transform: capitalize;
    }
  }
  .hireMeDesktop {
    padding: 10px 12px;
    width: 277px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 10px;
    background: #59c4d1;
    p {
      color: #fff;

      font-size: 18px;

      font-weight: 600;

      margin: 0;
    }
  }
  .hireMeListTitle {
    margin: 25px 0px;
    p {
      color: #008e9b;

      font-size: 30px;

      font-weight: 700;
    }
  }
  .hireMeList {
    ul {
      li {
        position: relative;
        list-style: none;
        margin: 14px 0px;
        &:after {
          position: absolute;
          content: "";
          width: 25px;
          height: 25px;
          background: url(../images/checkMark.svg);
          background-size: cover;
          background-repeat: no-repeat;
          top: 0;
          left: -40px;
          z-index: 1;
        }
      }
    }
  }
  .applyToday {
    margin: 50px 25px 0px 0px;
    span {
      color: #1e69e1;

      font-size: 18px;

      font-weight: 700;
    }
  }
  .registerButton {
    border-radius: 10px;
    background: linear-gradient(90deg, #008e9b 0%, #59c4d1 91.67%);
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    margin-bottom: 90px;
    p {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
@media (min-width: 769px) {
  #firstBanner {
    .hireMeMobile {
      display: none;
    }
    .hireMePhotoMobile {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  #firstBanner {
    .hireMePhotoDesktop {
      display: none;
    }
    .registerButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      p {
        margin: 0;
      }
    }
  }
}
//theSuccessFormula
#theSuccessFormula {
  position: relative;
  padding-bottom: 50px;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    background: url(../images/successFormulaBackground.png) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    border-bottom: 12px solid #59c4d1;
  }
  .successFormulaTitle {
    margin-top: 80px;
    margin-bottom: 67px;
    border-radius: 10px;
    background: linear-gradient(73deg, #008e9b 52.12%, #59c4d1 100%);
    p {
      color: #fff;

      font-size: 32px;

      font-weight: 700;
    }
  }
}
#successFormulaBoxes {
  position: relative;
  .box {
    margin: 2px 0px;
    display: flex;
    width: 318px;
    height: 338px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    background: #fff;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.25);

    .boxTitle {
      color: var(--ink-07, #474747);

      font-size: 22px;

      font-weight: 700;

      position: relative;
      transition: all 0.3s ease;
      ::after {
        position: absolute;
        content: "";
        border-bottom: 3px solid rgba(89, 196, 209, 1);
        width: 80px;
        height: 0px;
        top: 45px;
        left: 0px;
        z-index: 0;
      }
    }
    .boxDescription {
      color: var(--ink-05, #858585);

      font-size: 18px;

      font-weight: 500;
    }
  }
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/image\ 3002.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -3;
  }
  .first:hover .boxTitle {
    color: orange;
  }
  .second:hover .boxTitle {
    color: orange;
  }
  .third:hover .boxTitle {
    color: orange;
  }
}
@media (max-width: 768px) {
  #successFormulaBoxes {
    .box {
      margin: 2px 100px;
      p {
        font-size: 16px;
      }
    }
  }
}
//secondBackground
#secondBackground {
  position: relative;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/image\ 3001.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -3;
  }
}
// thatsNotAll
#thatsNotAll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  p {
    color: #000;
    font-size: 24px;

    font-weight: 700;
  }
}
@media (max-width: 768px) {
  #thatsNotAll.desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  #thatsNotAll.mobile {
    display: none;
  }
}
// signUpToday
#signUpToday {
  margin-bottom: 100px;
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    background: lightblue;
    padding: 36px;
    gap: 20px;
    .boxTitle {
      color: #fff;
      text-align: center;

      font-size: 24px;

      font-weight: 600;

      span {
        font-size: 16px;
      }
    }
    .boxDescription {
      color: #fff;

      font-size: 20px;

      font-weight: 500;
    }
  }
  .signUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    padding: 11px 41px;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #59c4d1 99.99%, #008e9b 100%);
    p {
      margin: 0;
      color: #fff;

      font-size: 14px;

      font-weight: 700;
    }
  }
}
@media (max-width: 768px) {
  #signUpToday {
    .box {
      .boxTitle.desktop {
        display: none;
      }
    }
  }
}
@media (min-width: 769px) {
  #signUpToday {
    .box {
      .boxTitle.mobile {
        display: none;
      }
    }
  }
}
// modules
#modules {
  margin-bottom: 100px;
  .modulesTitle {
    display: flex;
    width: 521px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    background: linear-gradient(90deg, #1399a6 0%, #fff 100%);
    margin-bottom: 60px;
    p {
      margin: 0;
      color: var(--ink-08, #292929);

      font-size: 32px;

      font-weight: 700;
    }
  }
  .box.active {
    border: 1px solid #60b8c0;
    background: rgba(120, 206, 216, 0.1);
    p {
      color: #008e9b;
      font-weight: bold;
    }
  }
  .box {
    border-radius: 8px;
    border-right: 1px solid #018e9b;
    border-bottom: 1px solid #018e9b;
    background: rgba(255, 255, 255, 0.64);
    margin-bottom: 15px;
    p {
      padding: 5px 15px;
      margin: 0;
      color: var(--ink-04, #a3a3a3);

      font-size: 22px;

      font-weight: 500;

      span {
        color: #666;

        font-size: 22px;

        font-weight: 500;
      }
    }
  }
  .boxes {
    border-radius: 8px;
    border: 1px solid #60b8c0;
    background: rgba(120, 206, 216, 0.1);
    margin-bottom: 10px;
    .boxTitle {
      border-radius: 8px;
      border: 2px solid #008e9b;
      background: #fff;
      padding: 3px 12px;

      p {
        margin: 0;
        color: #008e9b;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        font-size: 22px;

        font-weight: 500;
      }
    }
  }

  .descriptionBox {
    display: flex;
    width: 577px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #60b8c0;
    background: rgba(120, 206, 216, 0.1);
    .descriptionBoxTitle {
      width: 100%;
      background: linear-gradient(133deg, #008e9b 46.88%, #59c4d1 100%);
      p {
        padding: 8px;
        margin: 0;
        color: var(--ink-01, #fff);

        font-size: 24px;

        font-weight: 700;
      }
    }
    .descriptionBoxDescription {
      span {
        color: var(--ink-05, #858585);

        font-size: 16px;

        font-weight: 500;
      }
      p {
        color: #141415;
        font-size: 18px;

        font-weight: 500;
      }
    }
  }
}
@media (max-width: 768px) {
  #modules {
    .boxTitle.desktop {
      display: none;
    }
    .boxTitle.mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .box {
      display: none;
    }
    .descriptionBox {
      display: none;
    }
  }
}
@media (min-width: 769px) {
  #modules {
    .boxTitle.mobile {
      display: none;
    }
  }
}
//threeRealProjects
#threeRealProjects {
  margin-bottom: 150px;
  .threeRealProjectsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    p {
      color: #000;
      font-size: 36px;
      font-weight: 600;
      span {
        color: #008e9b;
        font-size: 36px;
        font-weight: 600;
      }
    }
  }
  .threeRealProjectsDescription {
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
  .threeProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projects {
    margin-bottom: 5px;
    width: 784px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #59c4d1;
    background: #59c4d1;
    .projectName {
      position: relative;
      color: #fff;
      font-size: 16px;
      margin-top: 25px;
      margin-left: 50px;
      ::after {
        position: absolute;
        content: "";
        left: 0;
        top: 25px;
        border-bottom: 1px solid #fff;
        z-index: 1;
        width: 121px;
        height: 2px;
      }
    }

    .projectNumber {
      position: absolute;
      top: -10px;
      left: -240px;
      p {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        margin-top: 25px;
        margin-left: 50px;
        border: 2px solid rgba(0, 142, 155, 1);
        border-radius: 50px;
        width: 40px;
        height: 40px;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .projectDescription {
      margin-left: 50px;
      p {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
@media (max-width: 768px) {
  #threeRealProjects {
    .threeRealProjectsTitle {
      p {
        color: var(--ink-06, #000);
        font-size: 20px;
        font-weight: 600;
        span {
          color: #008e9b;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .threeRealProjectsDescription {
      color: #000;
      font-size: 20px;
      font-weight: 400;
    }
    .threeRealProjectsDescription.desktop {
      display: none;
    }
    .threeRealProjectsDescription.mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
@media (min-width: 769px) {
  #threeRealProjects {
    .threeRealProjectsDescription.mobile {
      display: none;
    }
  }
}
@media (max-width: 991px) {
  #threeRealProjects {
    .projects {
      .projectNumber {
        left: -210px;
      }
    }
  }
}
@media (max-width: 768px) {
  #threeRealProjects {
    .projects {
      .projectNumber {
        left: -125px;
      }
    }
  }
}
@media (max-width: 560px) {
  #threeRealProjects {
    .projects {
      .projectNumber {
        left: -100px;
      }
    }
  }
}
//hireMeProgram
#hireMeProgram {
  margin-bottom: 150px;
  .hireMeBox {
    border-radius: 8px;
    border: 5px solid #43b6c3;
    background: rgba(16, 71, 160, 0);
    padding: 23px 16px;
    .hireMeTitle {
      color: #000;
      font-size: 32px;
      font-weight: 700;
      padding: 5px 20px;
    }
    .hireMeDescription {
      color: #000;
      font-size: 16px;
      font-weight: 600;
    }
    .hireMeButton {
      display: flex;
      width: 190px;
      padding: 11px 41px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: linear-gradient(90deg, #008e9b 0%, #59c4d1 100%);
      p {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
      }
    }
  }
}
//expertsLead
#expertsLead {
  padding-bottom: 100px;
  .text {
    margin-bottom: 60px;
    p {
      color: #000;
      font-size: 32px;
      font-weight: 500;
      span {
        color: #008e9b;
        font-size: 38px;
        font-weight: 700;
      }
    }
  }
  .expertBox {
    border-radius: 8px;
    border: 2px solid #1e69e1;
    background: #018e9b;
    padding: 16px;
    height: 170px;
    .expertImage {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 15px;

      img {
        border-radius: 15px;
        width: 102px;
        height: 129px;
      }
    }
    .expertInfos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2.016px solid #befbff;
      .expertName {
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        p {
          margin: 0;
        }
      }
    }
    .expertDescription {
      margin-top: 12px;
      p {
        color: var(--ink-01, #fff);
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
      }
    }
  }
}
@media (max-width: 768px) {
  #expertsLead {
    .expertBox {
      height: auto;
    }
    .text {
      p {
        font-size: 22px;
        span {
          font-size: 22px;
        }
      }
    }
    .text.desktop {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  #expertsLead {
    .text.mobile {
      display: none;
    }
    .text.desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
//afterTheAcademy
#afterTheAcademy {
  position: relative;
  padding-top: 100px;
  padding-bottom: 115px;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/Rectangle\ 2181.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -3;
  }
  .afterTheAcademyTitle {
    margin-bottom: 25px;
    p {
      color: var(--ink-01, #fff);
      font-size: 32px;
      font-weight: 400;
      span {
        color: #008e9b;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background: #befbff;
      }
    }
  }
  .afterTheAcademyDescription {
    color: var(--ink-01, #fff);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 100px;
  }
  .afterTheLastClass {
    color: var(--ink-01, #fff);
    font-size: 24px;
    font-weight: 700;
    border-bottom: 4px solid #59c4d1;
    margin-bottom: 35px;
  }
  .afterTheLastClassList {
    color: var(--ink-01, #fff);
    font-size: 18px;
    font-weight: 500;
    ul {
      margin-bottom: 60px;
      li {
        list-style: none;
        font-size: 16px;
        line-height: 35px;
        position: relative;
      }
      ::after {
        position: absolute;
        content: "";
        top: 4px;
        left: -40px;
        background: url(../images/CheckCircle.png) no-repeat;
        z-index: -1;
      }
    }
  }
  .girlWithCHLogoDesktop {
    position: absolute;
    width: 1443px;
    height: 884px;
    top: -75px;
    z-index: -1;
  }
  .academyStepsList {
    display: flex;
    flex-direction: row;
    border-radius: 11.538px;
    border: 3.846px solid #59c4d1;
    background: linear-gradient(
      135deg,
      rgba(0, 142, 155, 0.63) 0%,
      rgba(190, 251, 255, 0.63) 39.9%
    );

    .custom-column {
      margin-right: 15px;
      flex: 1;
      text-align: flex-start;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .number {
        margin-top: 25px;
        margin-bottom: 12px;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 18px;
          font-weight: 900;
          border-radius: 45.192px;
          border: 3.846px solid var(--ink-01, #fff);
          width: 40px;
          height: 40px;
        }
      }
      .title {
        color: var(--ink-01, #fff);
        font-size: 16px;
        font-weight: 800;
        border-bottom: 3.846px solid #59c4d1;
        width: 120px;
        height: 100px;
      }
      .description {
        color: var(--ink-01, #fff);
        font-size: 14px;
        font-weight: 600;
        margin-top: 45px;
        margin-bottom: 50px;
        height: 100px;
      }
    }
  }
  .box {
    border-radius: 11.538px;
    border: 3.846px solid #59c4d1;
    background: linear-gradient(
      135deg,
      rgba(0, 142, 155, 0.63) 0%,
      rgba(190, 251, 255, 0.63) 39.9%
    );
    backdrop-filter: blur(17.788461685180664px);
  }
  .academyStepsListMobile {
    border-radius: 11.538px;
    border: 3.846px solid #59c4d1;
    background: linear-gradient(
      135deg,
      rgba(0, 142, 155, 0.63) 0%,
      rgba(190, 251, 255, 0.63) 39.9%
    );
    padding-bottom: 100px;
    .number {
      margin-top: 25px;
      margin-bottom: 12px;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        border-radius: 45.192px;
        border: 3.846px solid var(--ink-01, #fff);
        width: 40px;
        height: 40px;
      }
    }
    .title {
      color: var(--ink-01, #fff);
      font-size: 16px;
      font-weight: 800;
      border-bottom: 4px solid #59c4d1;
      width: 100%;
    }
    .description {
      color: var(--ink-01, #fff);
      font-size: 14px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
}

@media (max-width: 992px) {
  #afterTheAcademy {
    .afterTheAcademyDescription {
      margin-bottom: 300px;
    }
    .girlWithCHLogo {
      position: absolute;
      top: 235px;
      z-index: -1;
    }
    .afterTheAcademyTitle.desktop {
      display: none;
    }
    .girlWithCHLogoDesktop {
      display: none;
    }
    .academyStepsList.desktop {
      display: none;
    }
  }
}
@media (min-width: 993px) {
  #afterTheAcademy {
    .afterTheAcademyTitle.mobile {
      display: none;
    }
    .girlWithCHLogo {
      display: none;
    }
    .academyStepsListMobile {
      display: none;
    }
  }
}
//thirdBackground
.thirdBackground {
  position: relative;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/image\ 3001.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
  }
}
//theBestTrack
#theBestTrack {
  padding-top: 100px;
  .theBestTrackTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    p {
      color: #000;
      font-size: 32px;
      font-weight: 500;
      span {
        color: #008e9b;
        font-size: 38px;
        font-weight: 700;
      }
    }
  }
  .box.first {
    margin-top: 60px;
    .boxTitle {
      p {
        line-height: 15px;
      }
    }
  }
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    background: #fff;
    height: 1113px;
    margin-bottom: 5px;
    .boxTitle {
      background: #008e9b;
      padding: 21px 12px;
      height: 147px;
      p {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        span {
          color: #befbff;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .boxPrice {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      flex-direction: column;
      img {
        width: 100%;
        height: 2px;
      }
      p {
        font-size: 16px;
        font-weight: 700;
        .blue {
          text-decoration-line: line-through;
          color: #394dff;
          font-size: 24px;
        }
        .red {
          color: #f00;
          font-size: 24px;
        }
      }
    }
    .boxDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-bottom: 300px;
      img {
        width: 100%;
        height: 2px;
      }
      p {
        margin: 19px;
      }
    }
    .boxDescriptionTwo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      img {
        width: 100%;
        height: 2px;
      }
    }
    .reserveButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: #008e9b;
      padding: 23px 10px;
      margin-top: 15px;
      p {
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .coordinatorP {
      margin-top: 15px;
      p {
        color: #666;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
      }
    }
    .coordinatorPhoto {
      position: absolute;
      top: 921px;
      left: 248px;
    }
    .lastP {
      background: #008e9b;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px;
      margin-top: 30px;
      p {
        color: #fff;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
      }
      .bookCallButton {
        border-radius: 10px;
        background: #59c4d1;
        padding: 10px 25px;
        p {
          margin: 0;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
    .lastP.second {
      margin-top: 42px !important;
    }
  }
  .box.second {
    .boxDescription {
      margin-bottom: 240px;
    }
  }
  .mostPopular {
    border-radius: 8px 8px 0px 0px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: var(--ink-01, #fff);
      text-align: center;
      font-size: 30px;
      font-weight: 900;
      margin: 0;
      padding: 12px 60px;
    }
  }
  .alsoIncluded {
    margin-top: 165px;
    margin-bottom: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .alsoIncludedTitle {
      color: #000;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 65px;
    }
    .alsoIncludedList {
      ul {
        li {
          position: relative;
          list-style: none;
          color: #000;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 35px;
        }
        ::after {
          position: absolute;
          content: "";
          top: -10px;
          left: -65px;
          background: url(../images/Ok.svg);
          width: 50px;
          height: 50px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          z-index: 1;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #theBestTrack {
    .alsoIncluded {
      .alsoIncludedList {
        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #theBestTrack {
    .box {
      .coordinatorPhoto {
        left: 195px;
      }
    }
  }
}
@media (max-width: 991px) {
  #theBestTrack {
    .box {
      .coordinatorPhoto {
        left: 142px;
      }
    }
  }
}
@media (max-width: 768px) {
  #theBestTrack {
    .box {
      .coordinatorPhoto {
        left: 233px;
      }
    }
  }
}
//gainRealWorldExp
#gainRealWorldExp {
  margin-bottom: 100px;
  .gainRealWorldExpTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #008e9b;
    p {
      margin: 0;
      color: #fff;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      line-height: 153.023%; /* 39.786px */
    }
  }
  .gainRealWorldExpTitleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008e9b;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%; /* 26px */
  }
  .box {
    background: rgba(218, 218, 218, 0.41);
    min-height: 702px;
    width: 362px;
    padding: 25px;
    transition: all 0.3s ease;
    .boxTitle {
      background: #008e9b;
      display: flex;
      min-height: 179px;
      justify-content: center;
      align-items: center;
      gap: 26px;
      text-align: center;
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 153.023%;
        span {
          color: #59c4d1;
          text-align: center;
          font-size: 26px;
          font-weight: 800;
          line-height: 153.023%; /* 39.786px */
        }
      }
    }
    .boxDescription {
      ul {
        margin-top: 25px;
        li {
          color: #000;
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
    &:hover {
      background: #fff;
    }
  }
}
@media (max-width: 768px) {
  #gainRealWorldExp {
    .gainRealWorldExpTitle {
      display: none;
    }
    .box {
      width: 100%;
      padding: 0;
      .boxDescription {
        ul {
          li {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  #gainRealWorldExp {
    .gainRealWorldExpTitleMobile {
      display: none;
    }
  }
}
//calculator
#calculator {
  margin-bottom: 115px;
  .box {
    width: 100%;
    min-height: 570px;
    display: inline-flex;
    padding: 48px 122px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: #008e9b;
    .boxTitle {
      p {
        color: var(--ink-01, #fff);
        font-size: 32px;
        font-weight: 400;
        span {
          color: var(--ink-08, #292929);
          font-weight: 800;
          background: #59c4d1;
          padding: 8px;
        }
      }
    }
    .boxDescription {
      color: var(--ink-01, #fff);
      font-size: 24px;
      font-weight: 400;
    }
    .roiCalculator {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 715px;
      .title {
        color: var(--ink-01, #fff);
        font-size: 16px;
        font-weight: 700;
      }
      .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 8px 12px 8px;
        border-radius: 8px;
        border: 1px solid #56bfe0;
        background: #180120;
        .firstPrice {
          border-radius: 8px;
          padding: 10px 16px;
          box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.21);
          p {
            color: var(--inks-01, white);
          }
        }
        .secondPrice {
          border-radius: 8px;
          padding: 10px 16px;

          p {
            color: var(--inks-01, white);
            span {
              font-size: 32px;
            }
          }
        }
        p {
          margin: 0;
          color: var(--inks-01, #fff);
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 120%; /* 19.2px */

          span {
            font-size: 26px;
            font-weight: 800;
          }
        }
      }
      .prices {
        .firstPrice.active {
          background: var(--ink-01, #fff);
          p {
            color: var(--inks-01, black);
          }
        }
        .secondPrice.active {
          background: var(--ink-01, #fff);
          p {
            color: var(--inks-01, black);
          }
        }
      }
    }
    .salary {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      .salaryTitle {
        p {
          color: var(--ink-01, #fff);
          font-size: 16px;
          font-weight: 700;
        }
      }
      .salaryPrices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        border-radius: 8px;
        border: 1px solid #56bfe0;
        background: #180020;
        padding: 12px 8px;
        p {
          color: var(--ink-01, #fff);
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 120%; /* 19.2px */
          margin: 0;
        }
        .first,
        .second,
        .third {
          padding: 12px 16px;
        }
        .first.active,
        .second.active,
        .third.active {
          border-radius: 8px;
          background: var(--ink-01, #fff);
          box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.21);
          p {
            color: black;
          }
        }
      }
    }
    .result {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      .title {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
      .finalResult {
        border-radius: 12px;
        border: 2px solid #56bfe0;
        background: var(--inks-02, #f8f8f8);
        width: 337px;
        padding: 14px 32px;
        p {
          margin: 0;
          color: var(--ink-07, #474747);
          text-align: center;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 900;
          line-height: 120%; /* 19.2px */
          text-transform: uppercase;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  #calculator {
    display: none;
  }
}
//theDiploma
#theDiploma {
  margin-bottom: 100px;
  .container {
    border-radius: 12px;
    border: 1px solid #008e9b;
    background: var(--ink-01, #fff);
  }
  .box {
    padding: 15px;
    .diplomaTitle {
      border-radius: 12px;
      background: #59c4d1;
      padding: 32px;
      margin-bottom: 15px;
      span {
        color: #026b75;
        font-size: 32px;
        font-weight: 800;
        font-family: Inter;
      }
      p {
        color: #000;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .row {
    margin-left: -4px;
  }
  .insideBox {
    background: lightgray;
    border-radius: 12px;
    border: 2px solid var(--ink-02, #e0e0e0);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #fff;
    padding: 16px;
    min-height: 460px;
    margin-bottom: 16px;
    .insideBoxTitle {
      margin-top: 10px;
      margin-bottom: 30px;
      border-bottom: 3px solid #008e9b;
      p {
        color: var(--ink-06, #666);
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        span {
          color: var(--ink-07, #474747);
          font-weight: 700;
        }
      }
    }
    ul {
      li {
        color: var(--ink-05, #858585);
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

//reserveYourSpot
#reserveYourSpot {
  background: #008e9b;
  padding: 62px 122px 0px 122px;
  margin-bottom: 75px;
  .title {
    margin-bottom: 40px;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    span {
      color: #befbff;
      font-size: 48px;
      font-weight: 900;
    }
  }
  .description {
    color: var(--ink-01, #fff);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 100px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #59c4d1;
    width: 120px;
    height: 40px;
    margin-bottom: 30px;
    p {
      margin: 0;
      color: var(--ink-08, #292929);
      font-size: 16px;
      font-weight: 900;
    }
  }
}
//freeCourse
#freeCourse {
  background: linear-gradient(135deg, #008e9b 6.77%, #59c4d1 98.96%);
  .box {
    padding: 64px 125px 64px 0px;
    min-height: 432px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .description {
      background: #fff;
      padding: 8px;
      width: 491px;
      p {
        color: var(--ink-07, #474747);
        font-size: 16px;
        font-weight: 500;
      }
    }
    .title {
      margin: 25px 0px;
      p {
        color: var(--ink-01, #fff);
        font-size: 48px;
        font-weight: 600;
        span {
          font-weight: 900;
        }
      }
    }
    .date {
      color: var(--ink-01, #fff);
      font-size: 16px;
      font-weight: 500;
    }
    .button {
      display: flex;
      width: 492px;
      padding: 11px 10px;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: #061517;
      input {
        width: 100%;
      }
      .buttonText {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 145px;
        border-radius: 4px;
        height: 32px;
        gap: 8px;
        background: linear-gradient(133deg, #008e9b 0%, #59c4d1 67.71%);
      }
      p {
        margin: 0;
        color: var(--ink-08, #292929);
        font-size: 16px;
        font-weight: 900;
      }
    }
  }
  .image {
    img {
      width: 688px;
      height: 474px;
    }
  }
}
@media (max-width: 768px) {
  #freeCourse {
    .image {
      display: none;
    }
  }
}
// form
#form {
  padding-top: 75px;
  padding-bottom: 90px;
  position: relative;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/image\ 3001.png) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      p {
        color: #000;
        font-size: 32px;
        font-weight: 500;
        span {
          color: #008e9b;
          font-size: 38px;
          font-weight: 700;
        }
      }
      .description {
        p {
          color: #000;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .list {
      form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        label {
          color: #000;
          font-size: 16px;
          font-weight: 700;

          text-align: start;
          margin-top: 12px;
          margin-bottom: 8px;
        }
        input {
          width: 592px;
          height: 43px;
          border-radius: 8px;
          border: 1px solid #59c4d1;
          background: var(--ink-01, #fff);
        }
        select {
          width: 592px;
          height: 43px;
          border-radius: 8px;
          border: 1px solid #59c4d1;
          background: var(--ink-01, #fff);
          margin-bottom: 25px;
        }
        button {
          display: flex;
          width: 390px;
          padding: 11px 18px;
          border-radius: 4px;
          background: #008e9b;
          justify-content: center;
          align-items: center;
          gap: 12px;
          p {
            font-family: Inter;
            margin: 0;
            color: var(--ink-01, #fff);
            font-size: 16px;
            font-weight: 900;
          }
        }
      }
      .description {
        width: 592px;
        p {
          color: #000;
          text-align: center;
          font-size: 12px;
          font-weight: 400;
        }
      }
      .lastDescription {
        margin-top: 12px;
        margin-bottom: 225px;
        p {
          color: #000;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .lastBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .enroll {
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 40px;
      p {
        color: var(--ink-06, #666);
        font-size: 32px;
        font-weight: 500;
        span {
          color: #018e9b;
          font-weight: 700;
        }
      }
    }
  }
  .enrollBox {
    min-height: 124px;
    margin-bottom: 25px;
    img {
      margin-bottom: 6px;
    }
    p {
      color: #000;
      font-size: 18px;
      font-weight: 700;
    }
    border-bottom: 2px solid #008e9b;
  }
}
// slider
#slider {
  background: #008e9b;
  padding: 48px 122px 60px 122px;
  .title {
    padding: 48px 122px;
    margin-bottom: 10px;
    p {
      color: var(--ink-01, #fff);
      font-size: 32px;
      font-weight: 500;
      span {
        color: #befbff;
        font-weight: 800;
      }
    }
  }
}
//footer
#footer {
  background: #343333;
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .elements {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 125px;
    .first {
      p {
        margin-top: 15px;
        color: var(--ink-01, #fff);
        font-size: 12px;
        font-weight: 500;
      }
    }
    .second {
      ul {
        color: var(--ink-01, #fff);
        font-size: 16px;
        font-weight: 500;
        li {
          list-style: none;
          p {
            color: var(--ink-01, #fff);
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    .third {
      p {
        color: var(--ink-01, #fff);
        font-size: 16px;
        font-weight: 500;
      }
      .photos {
        img {
          margin-right: 15px;
        }
      }
    }
  }
  .footerText {
    width: 100%;
    background: var(--ink-08, #292929);
    padding: 16px;
    text-align: center;
    p {
      color: var(--ink-01, #fff);
      font-size: 12px;
      font-weight: 500;
      margin: 0;
    }
  }
}
@media (max-width: 768px) {
  #footer {
    .elements {
      padding-left: 15px !important;
      padding-right: 15px;
      flex-direction: column;
      gap: 50px;
      padding-left: 0;
    }
    .footerText.desktop {
      display: none;
    }
    .footerText.mobile {
      a {
        color: var(--solid-secondary-uxui, #fda14a);
        font-size: 10px;
        font-weight: 500;
        line-height: 120%; /* 12px */
      }
    }
  }
}
@media (min-width: 769px) {
  #footer {
    .footerText.mobile {
      display: none;
    }
  }
}
